<div class="row h-100">
  <section class="col-9 px-3 pt-4 border-end border-2">
    <p class="text-white text-center mt-4 mb-3">Stores</p>
    <app-loader>
      <app-store-list *ngIf="stores$ | async as stores">
        <app-store
          class="col-3"
          *ngFor="let store of stores; let i = index; trackBy: trackByFn"
          [store]="store" />
      </app-store-list>
    </app-loader>
  </section>

  <section class="col-3 px-3 pt-4">
    <app-new-store-widget />
  </section>
</div>
