<p class="text-white text-end mt-4 px-3">New Store</p>

<div class="container">
  <div class="card bg-dark text-white">
    <form
      [formGroup]="storeForm"
      (ngSubmit)="createStore()"
      novalidate
      data-toggle="validator"
      role="form"
      class="needs-validation">
      <div class="form-group col">
        <app-input
          formControlName="storeName"
          [control]="storeName"
          [required]="true"
          placeholder="Name..."></app-input>

        <div class="form-group mt-3 mb-2">
          <div class="form-check">
            <input formControlName="hasInventory" class="form-check-input" type="checkbox" value="" id="checkStore" />
            <label class="form-check-label small-text align-text-bottom" for="checkStore"> Store has inventary</label>
          </div>
        </div>

        <div class="form-group mb-3">
          <div
            formArrayName="products"
            *ngFor="let item of productsFormControl; let i = index; trackBy: trackByFn"
            [@fadeIn]="showFields[i]">
            <div [formGroupName]="i" class="row">
              <div class="col-12 col-md-6 mb-3 pe-1">
                <select formControlName="productSelected" class="form-select" aria-label="Product select">
                  <option *ngFor="let opt of productMap.values()" [value]="opt">
                    {{ opt }}
                  </option>
                </select>
              </div>

              <div class="col-3 mb-3 px-lg-1">
                <input formControlName="amount" type="number" min="0" [value]="0" class="form-control" />
              </div>
              <ng-container *ngIf="productsFormControl.length - 1 === i; else deleteBtn">
                <div class="col mb-3 ps-1 w-100">
                  <button
                    (click)="addFormGroup()"
                    type="button"
                    class="btn btn-primary btn-square"
                    [disabled]="storeHasInventory">
                    <span class="align-text-bottom text-white">+</span>
                  </button>
                </div>
              </ng-container>

              <ng-template #deleteBtn>
                <div class="col mb-3 ps-1 w-100">
                  <button
                    (click)="deleteFormGroup(i)"
                    type="button"
                    class="btn btn-warning btn-square"
                    [disabled]="storeHasInventory">
                    <div class="align-text-top text-white">-</div>
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group d-grid mb-3 col-6">
        <button type="submit" class="btn btn-success" [disabled]="storeName?.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
