<button
  class="btn text-white"
  type="button"
  [class.btn-warning]="action === 'minus'"
  [class.btn-primary]="action === 'plus'"
  disabled
  role="button"
  aria-disabled="true"
  (click)="onClicked()">
  <ng-container *ngIf="action === 'plus'; else minus">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-plus-lg"
      viewBox="0 0 16 18">
      <path
        fill-rule="evenodd"
        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg>
  </ng-container>

  <ng-template #minus>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-dash-lg"
      viewBox="0 0 16 18">
      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
    </svg>
  </ng-template>
</button>
