<div class="input-group has-validation">
  <span *ngIf="label" class="input-group-text" id="inputGroup">{{ label }}</span>

  <input
    type="text"
    class="form-control"
    id="validation"
    aria-describedby="inputGroup validationFeedback"
    [class.is-invalid]="hasError"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    [required]="required"
    (change)="onKeyup($event)" />

  <div id="validationFeedback" class="invalid-feedback">{{ getErrorMessage() }}</div>
</div>
