.card {
  min-height: 8rem;
  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
    box-shadow: 1px 1px 2px rgb(210, 210, 222);
  }
}

.small-text {
  font-size: .7rem;
}

.most-popular-product-text {
  font-size: .9rem;
  font-weight: lighter;
}
